![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 06 - Estrutura Sequencial</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

### Operações Aritméticas

In [ ]:
# Soma
4 + 4

In [ ]:
# Subtração
4 - 3

In [ ]:
# Multiplicação
3 * 3

In [ ]:
# Divisão
3 / 2

In [ ]:
# Potência
4 ** 2

In [ ]:
# Módulo
10 % 3

### Função Type

In [ ]:
type(5)

In [ ]:
type(5.0)

In [ ]:
a = 'Estou estudando na Fatec Votorantim'
type(a)

### Operações com Números Float

In [ ]:
3.1 + 6.4

In [ ]:
4 + 4.0

In [ ]:
4 + 4

In [ ]:
# Resultado é um número float
4 / 2

In [ ]:
# Resultado é um número inteiro
4 // 2

In [ ]:
4 / 3.0

In [ ]:
4 // 3.0

### Conversão

In [ ]:
float(9)

In [ ]:
int(6.0)

In [ ]:
int(6.5)

In [ ]:
int(6.6)

In [ ]:
round(6.5)

In [ ]:
round(6.6)

### Hexadecimal e Binário

In [ ]:
hex(394)

In [ ]:
hex(217)

In [ ]:
bin(286)

In [ ]:
bin(390)

### Funções abs, round e pow

In [ ]:
# Retorna o valor absoluto
abs(-8)

In [ ]:
# Retorna o valor absoluto
abs(8)

In [ ]:
# Retorna o valor com duas casas decimais
round(3.14151922, 2)

In [ ]:
# Potência
pow(4,2)

In [ ]:
# Potência
pow(5,3)

### Trabalhando com Variáveis

In [ ]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [ ]:
# Imprimindo o valor da variável
var_teste

In [ ]:
# Imprimindo o valor da variável
print(var_teste)

In [ ]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

In [ ]:
var_teste = 2

In [ ]:
var_teste

In [ ]:
type(var_teste)

In [ ]:
var_teste = 9.5

In [ ]:
type(var_teste)

In [ ]:
x = 1

In [ ]:
x

### Declaração Múltipla

In [ ]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [ ]:
pessoa1

In [ ]:
pessoa2

In [ ]:
pessoa3

In [ ]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [ ]:
fruta1

In [ ]:
fruta2

In [ ]:
fruta3

In [ ]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [ ]:
x1 = 50

In [ ]:
x1

In [ ]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [ ]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [ ]:
largura = 2

In [ ]:
altura = 4

In [ ]:
area = largura * altura

In [ ]:
area

In [ ]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

In [ ]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [ ]:
perimetro

### Operações com Variáveis

In [ ]:
idade1 = 25

In [ ]:
idade2 = 35

In [ ]:
idade1 + idade2

In [ ]:
idade2 - idade1

In [ ]:
idade2 * idade1

In [ ]:
idade2 / idade1

In [ ]:
idade2 % idade1

### Concatenação de Variáveis

In [ ]:
nome = "Bob"

In [ ]:
sobrenome = "Marley"

In [ ]:
fullName = nome + " " + sobrenome

In [ ]:
fullName

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [ ]:
# Uma única palavra
'Oi'

In [ ]:
# Uma frase
'Criando uma string em Python'

In [ ]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

In [ ]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

### Imprimindo uma String

In [ ]:
print ('Testando Strings em Python')

In [ ]:
print ('Testando \n Strings \n em \n Python')

In [ ]:
print ('\n')

### Indexando Strings

In [ ]:
# Atribuindo uma string
s = 'Projet pyPRO'

In [ ]:
print(s)

> Indexação em Python começar por zero.

In [ ]:
# Primeiro elemento da string
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

In [ ]:
s[3]

In [ ]:
s[4]

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [ ]:
# Retorna todos os elementos da string, começando pela posição
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

In [ ]:
# A string original permanece inalterada
s

In [ ]:
# Retorna tudo até a posição de índice 3
s[:3]

In [ ]:
# Retorna tudo até a posição de índice 4
s[:4]

In [ ]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

In [ ]:
# Retornar tudo, exceto a última letra
s[:-1]

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1).

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [ ]:
s[::1]

In [ ]:
s[::2]

In [ ]:
s[::-1]

### Propriedades de Strings

In [ ]:
s

In [ ]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x'

In [ ]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [ ]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [ ]:
print(s)

In [ ]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [ ]:
letra * 3

## <font color='blue'>Estrutura Sequencial</font>

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado
    
Fim

## Convertendo o Pseudocódigo 1 em Programa Python

In [ ]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

In [ ]:
base = float(input("Insira o comprimento da base: "))

In [ ]:
altura = float(input("Insira a altura: "))

In [ ]:
area = base * altura

In [ ]:
print("A área do paralelogramo é: ", area)

### EXEMPLO 01
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [ ]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F.

Dados : F=(9*C+160)/5.

In [ ]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

In [ ]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

![Figura](exemplo03.JPG)

In [ ]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", d)

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [ ]:
nome = input("Digite seu nome:")
idade = int(input("Digite sua idade:"))

print("Seu nome é:", nome, "; e sua idade é:", idade)

Digite seu nome:Bruna
Digite sua idade:19
Seu nome é: Bruna ; e sua idade é: 19

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [ ]:
nome = input("Digite seu nome:")
idade = int(input("Digite sua idade:"))

print("Seu nome é:", nome, "; e sua idade é:", idade)

Digite seu nome:Yan
Digite sua idade:19
Seu nome é: Yan ; e sua idade é: 19

3. Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

In [ ]:
nascimento = int(input("Digite o seu ano de nascimento:"))
atual = int(input("Digite o ano atual:"))

idade_anos = atual - nascimento
idade_meses = (atual - nascimento) * 12
idade_dias = (atual - nascimento) * 365
idade_semanas = idade_dias / 7

print("Sua idade em anos é:", idade_anos, "; sua idade em meses é:", idade_meses, "; sua idade em dias é:", idade_dias, "; e sua idade em semanas é:", round(idade_semanas,2))

Digite o seu ano de nascimento:2006
Digite o ano atual:2025
Sua idade em anos é: 19 ; sua idade em meses é: 228 ; sua idade em dias é: 6935 ; e sua idade em semanas é: 990.71

4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

In [ ]:
sal = float(input("Informe seu salário:"))

aum = sal * 0.25
novo_sal = aum + sal

print("Seu novo salário é: R$", novo_sal)

Informe seu salário:1500
Seu novo salário é: R$ 1875.0

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que
	Area= π * R2

	π = 3,115

In [ ]:
raio = float(input("Digite o raio do círculo:"))

area = 3.115 * (raio**2)

print("A área do círculo é:", area)

Digite o raio do círculo:10
A área do círculo é: 311.5

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [ ]:
altura_degrau = float(input("Digite a altura do degrau (em centímetros):"))
altura_desejo = float(input("Digite a altura que se deseja alcançar (em metros):"))

desejo_cm = altura_desejo * 100
degraus = desejo_cm / altura_degrau

print("Para alcançar a altura desejada, você deve subir:", degraus, "degraus.")

Digite a altura do degrau (em centímetros):200
Digite a altura que se deseja alcançar (em metros):6
Para alcançar a altura desejada, você deve subir: 3.0 degraus.

## Fim da Aula 6